.Navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px 15px;
  background: #ffffff;
  margin-right: 15px;
  height: 100%;
  font-weight: 600;
}
.logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #0ac6d3;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
.logo img {
  width: 40px;
  margin-right: 10px;
}

.slider-container {
  min-width: 40%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
}
.slider-container span strong {
  color: #1d1d1d;
  margin-right: 15px;
}
.slider {
  width: 50%;
  margin: 0;
  display: inline-block;
}

.rc-slider-track {
  background: transparent;
}
.rc-slider-rail {
  height: 4px;
  background: linear-gradient(to right, #f1f1f1, #c4c3c3);
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background: #0ac6d3;
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: none;
  width: 15px;
  height: 15px;
}

.select-container {
  margin: 0 2rem 0 auto;
}

.back-btn {
  padding: 6px 20px;
  background: #f1f1f1;
  cursor: pointer;
  font-size: 0.9rem;
  color: #555;
  font-weight: 600;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.back-btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  color: #0ac6d3;
  background: #ffffff;
}
